<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs', {Style: "CSS/Style.css" ,myStyle: "CSS/carrito.css" , title: "Mi Carrito" }) %>

    <body>
        <!-- Contenedo Principal del Body  -->
        <div class="main-body-container">
            <%- include('../partials/header.ejs') %>

                <!-- MAIN -->
                <main>
                    <h3>Mi CARRITO de Compras</h3>
                    <div class="container">
                        <section class="articulos">
                            <% var total=0 %>
                                <% var subTotal=0 %>
                                    <% var id=0 %>
                                        <% var cantidad=0 %>

                                            <% listaCarrito.forEach(productos=> { %>
                                                <% var descu=0 %>
                                                    <% id=productos.id %>
                                                        <% cantidad=productos.cantidad %>
                                                            <article class="containerArt">
                                                                <img src="/img/product/<%= productos.img%>" alt=""
                                                                    width="150px" height="150px">
                                                                <label for="number">
                                                                    <%= productos.nombre%>
                                                                </label>
                                                                <p><b>Cantidad</b>
                                                                    <%= productos.cantidad%>
                                                                </p>
                                                                <p>$ <%= productos.precio%>
                                                                </p>
                                                                <% descu=productos.precio - (((productos.precio *
                                                                    productos.descuento ) )/ 100) %>
                                                                    <% subProducto=descu * productos.cantidad%>
                                                                        <p><b>SubTotal</b> $ <%=subProducto%>
                                                                        </p>
                                                                        <form
                                                                            action="/Carrito/borrarCarrito/<%= productos.id%>?_method=DELETE"
                                                                            method="post">
                                                                            <button type="submit"><i
                                                                                    class="fa-regular fa-trash-can"></i></button>
                                                                        </form>

                                                                        <% subTotal=subTotal + (productos.precio *
                                                                            productos.cantidad)%>
                                                                            <% total=total + subProducto %>
                                                            </article>
                                                            <% }) %>
                        </section>

                        <section class="carrito">
                            <form action="/Carrito/compraCarrito" method="GET">
                                <label for="subtotal">
                                    <div>
                                        <p>SubTotal:</p>
                                        <p>$ <%= subTotal %>
                                        </p>
                                    </div>
                                    <div>
                                        <p>TOTAL $</p>
                                        <input class="total" type="text" name="total" id="total" value="<%= total %>"
                                            disabled>
                                        <input class="disabl" type="text" name="cantidad" id="cantidad"
                                            value="<%= cantidad %>" disabled>
                                        <input class="disabl" type="text" name="id" id="id" value="<%= id %>" disabled>
                                    </div>
                                </label>
                                <div class="botones">
                                    <button type="submit">Finalizar Compra</button>
                                    <a href="/products"><button type="submit">Seguir Comprando</button></a>
                                    <!--    <button type="submit">Seguir Comprando</button>
                                 <a><input type="submit" value="Finalizar Compra"></a>-->
                                </div>
                            </form>
                        </section>
                    </div>
                </main>

                <%- include('../partials/footer.ejs') %>
        </div>
    </body>

</html>