<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {Style: "../../CSS/Style.css" , myStyle: "../../CSS/producto.css" ,
    title: "Detalle de la Compra" }) %>

    <body>
        <div class="main-body-container">
            <%- include('../partials/header.ejs') %>
                <main>
                    <h1>DETALLE DE LA COMPRA</h1>

                    <section class="info-del-producto">
                        <div class="producto_precio">
                            <% var total=0 %>
                                <% carrito.forEach(product=> { %>
                                    <img src="/img/product/<%= product.img%>" alt="" width="150px" height="150px">
                                    <p>
                                        <span> <b>Producto: </b></span>
                                        <%=product.nombre%>
                                    </p>
                                    <p>
                                        <span> <strong>Precio: </strong></span>
                                        $ <%=product.precio%>
                                    </p>
                                    <p>
                                        <span> <strong>Cantidad: </strong></span>
                                        <%=product.cantidad%>
                                    </p>
                                    <p class="precio">
                                        <strong>SUBTOTAL </strong>$ <%=product.subtotal%>
                                    </p>
                                    <% total=total + product.subtotal%>
                                        <hr>
                                        <% }) %>
                                            <br><br>
                                            <ul class="tarjetas" type='circle'>
                                                <li type='disc'>Mastercard hasta 3 cuotas sin interés</li>
                                                <li type='disc'>Visa Santander Río hasta 6 cuotas sin interés</li>
                                                <li type='disc'>Naranja X 1 solo pago</li>
                                                <li type='disc'>Otras tarjetas plan Z</li>

                                            </ul>
                        </div>

                        <div class="contenedor-producto">
                            <h2 class="modelo-producto">
                            </h2>
                            <div class="sucursal">
                                <p>Confirmar sucursal más cercana para retiro o envío:</p>
                            </div>
                            <br>
                            <br>
                            <br>
                            <form action="/Carrito/historialCarrito" method="POST">
                                <div class="form-CP">
                                    <label for="codigo postal" name="codpostal">Código postal</label>
                                    <input type="text" id="codigo-postal" name="codpostal" value="G4200"></input>
                                    <a href="#"><input type="button" value="Buscar" class="bt-buscar"></a>
                                </div>
                                <p>Sucursal: Santiago Del Estero </p>
                                <br>
                                <br>
                                <p class="precioTotal">
                                    TOTAL A PAGAR <span class="total">
                                        <strong>$ <%=total%></strong></span>
                                </p>
                                <button class="agregar" type="submit"
                                    onclick=" alert('Gracias Por Su Compra !!!') /* myFunction() */">PAGAR</button>
                            </form>
                        </div>
                    </section>

                </main>
                <!--  nuevo pie-->
                <%- include('../partials/footer.ejs') %>

        </div>
    </body>

</html>