<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {Style: "../../CSS/Style.css" ,myStyle: "../../CSS/agregarProducto.css" ,
    title: "Editar Producto" }) %>

    <body>
        <div class="main-container">
            <%- include('../partials/header.ejs') %>
                <main>

                    <form action="/products/actualizarProducto/<%= editProducto.id %>?_method=PUT" method="POST"
                        enctype="multipart/form-data">

                        <h2>Editar Producto <%= editProducto.nombre %>
                        </h2>

                        <div class="formulario">
                            <div class="label">
                                <label for="nombre">Nombre de Producto</label>
                                <label for="descripcion">Descripcion del Producto</label>
                                <label for="imagen">Subir Imagen del Producto</label>
                                <label for="categoria">Categoria</label>
                                <label for="precio">Precio del Producto</label>
                                <label for="especificaciones">Especificaciones Tecnicas</label>
                            </div>
                            <div class="input">
                                <input type="text" name="nombre" id="nombre" value="<%= editProducto.nombre %>"
                                    disabled>
                                <input type="text" name="descripcion" id="descripcion"
                                    value="<%= editProducto.descripcion %>" >
                                <input type="file" name="imagen" id="imagen" >
                                <div><select name="categoria" id="categoria">
                                        <option value="Electrodomesticos">Electrodomesticos</option>
                                        <option value="Refrigeracion">Refrigeracion</option>
                                        <option value="Calefaccion">Calefaccion</option>
                                        <option value="Hogar">Hogar</option>
                                        <option value="OutLet">OutLet</option>
                                    </select></div>
                                <input type="number" name="precio" id="precio" min="0" max="999999999" maxlength="9"
                                    value="<%= editProducto.precio %>" required>
                                <textarea name="especificaciones" id="especificaciones" cols="20" rows="5">
                                    <%= editProducto.especificaciones %>
                                </textarea>
                            </div>
                        </div>
                        <div class="botones">
                            <button type="reset" value="Borrar">Borrar</button>
                            <button type="submit" value="Guardar">Guardar</button>
                        </div>
                    </form>

                </main>
                <%- include('../partials/footer.ejs') %>

        </div>
    </body>

</html>