<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {Style: "../CSS/Style.css" , myStyle: "../CSS/producto.css" ,
    title: "Detalle de producto" }) %>

    <body>
        <div class="main-body-container">

            <%- include('../partials/header.ejs') %>

                <main>
                    <h1>DETALLE DEL PRODUCTO</h1>

                    <section class="info-del-producto">
                        <div class="producto_precio">
                            <img src="/img/product/<%=producto.img%>" alt="imagen del producto" class="img-producto">
                            <p class="precio">$<%=producto.precio%>
                            </p>
                            <br>

                            <ul class="tarjetas" type='circle'>
                                <li type='disc'>Mastercard hasta 3 cuotas sin interés</li>
                                <li type='disc'>Visa Santander Río hasta 6 cuotas sin interés</li>
                                <li type='disc'>Naranja X 1 solo pago</li>
                                <li type='disc'>Otras tarjetas plan Z</li>

                            </ul>
                            <% if(producto.oferta=='true' ){%>
                                <h2>OFERTA</h2>
                                <%}%>
                        </div>

                        <div class="contenedor-producto">
                            <h2 class="modelo-producto">
                                <%=producto.nombre%>
                            </h2>
                            <div class="sucursal">
                                <p>Confirmar sucursal más cercana para retiro o envío:</p>
                            </div>
                            <br>
                            <br>
                            <br>
                            <form action="/createCarrito/<%=producto.id%>" method="POST">
                                <div class="form-CP">
                                    <label for="codigo postal" name="codpostal">Código postal</label>
                                    <input type="text" id="codigo-postal" name="codpostal" value="G4200"></input>
                                    <button class="bt-buscar" type="submit">Buscar</button>
                                </div>
                                <p>Sucursal: Santiago Del Estero </p>
                                <br>
                                <br>
                                <div>
                                    <input type="number" name="cantidad" id="cantidad" value="1">
                                </div>
                                <button class="agregar" type="submit">Agregar al carrito de compras / Comprar
                                    ahora</button>
                            </form>
                        </div>
                    </section>

                    <section class="contenedor-detalle">
                        <div class="detalles">
                            <h3>Especificaciones técnicas</h3>
                            <!--<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto fugit pariatur vel nam,
                                cum voluptate, obcaecati tempora inventore mollitia minus aperiam unde dolorum laborum?
                                Quos aperiam illum natus, tempora hic sed nesciunt repellat laudantium deleniti voluptas
                                voluptatum molestias dolorum sint eaque iure iste cum maiores assumenda. Praesentium
                                neque qui corrupti!</p>-->
                            <p>
                                <%=producto.especificaciones%>
                            </p>
                        </div>
                        <div class="detalles">
                            <h3>Descripción</h3>
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id blanditiis dolorum,
                                laudantium repudiandae tenetur hic, mollitia illum voluptatem nam nemo eaque cumque odit
                                facere quos quam? Sequi cum omnis in voluptate, quis sunt harum culpa porro vitae
                                impedit alias repudiandae distinctio amet recusandae sapiente? Nihil maxime incidunt
                                debitis ducimus maiores?</p>-->
                            <p>
                                <%=producto.descripcion%>
                            </p>
                        </div>
                        <div class="detalles">
                            <h3>Productos relacionados</h3>
                            <p>Heladera 2</p>
                            <p>Heladera 3</p>
                            <p>Heladera 4</p>
                        </div>
                    </section>
                </main>

                <!--  nuevo pie-->
                <%- include('../partials/footer.ejs') %>

        </div>
    </body>

</html>