<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {Style: "../../CSS/Style.css" , myStyle: "../../CSS/producto.css" ,
    title: "Detalle de producto" }) %>

    <body>
        <div class="main-body-container">

            <%- include('../partials/header.ejs') %>

                <main>
                    <h1>DETALLE DEL PRODUCTO</h1>

                    <section class="info-del-producto">
                        <div class="producto_precio">
                            <img src="/img/product/<%=prodDet.img%>" alt="imagen del producto" class="img-producto">
                            <p class="precio">Precio $ <%=prodDet.precio%>
                            </p>
                            <br>
                            <hr>
                            <h2>
                                <%=prodDet.verIndex.nombre%>
                            </h2>

                        </div>

                        <div class="contenedor-producto">
                            <h2 class="modelo-producto">Producto</h2>
                            <h2 class="modelo-producto">
                                <%=prodDet.nombre%>
                            </h2>
                            <br>
                            <br>
                            <br>
                            <form action="/Carrito/createCarrito/<%=prodDet.id%>" method="POST">
                                <br>
                                <br>
                                <div><span><b>Cantidad: </b></span>
                                    <input type="number" name="cantidad" id="cantidad" value="1">
                                </div>
                                <% if (locals.isLogged) { %>
                                    <button class="agregar" type="submit">Agregar al carrito de Compras</button>
                                    <% } else { %>
                                        <a href="/user/Login"><input type="button" class="agregar"
                                                value="Para Comprar debe Loguearse"></a>

                                        <% } %>


                            </form>
                        </div>
                    </section>

                    <section class="contenedor-detalle">
                        <div class="detalles">
                            <h3>Especificaciones técnicas</h3>
                            <p>
                                <%=prodDet.especificaciones%>
                            </p>
                        </div>
                        <div class="detalles">
                            <h3>Descripción</h3>
                            <p>
                                <%=prodDet.descripcion%>
                            </p>
                        </div>
                        <div class="detalles">
                            <h3>Productos relacionados</h3>
                            <p>Heladera 2</p>
                            <p>Heladera 3</p>
                            <p>Heladera 4</p>
                        </div>
                    </section>
                </main>

                <!--  nuevo pie-->
                <%- include('../partials/footer.ejs') %>

        </div>
    </body>

</html>