<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {Style: "../../CSS/Style.css" , myStyle: "../../CSS/producto.css" ,
    title: "Detalle de producto" }) %>

    <body>
        <div class="main-body-container">

            <%- include('../partials/header.ejs') %>

                <main>
                    <h1>DETALLE DEL PRODUCTO</h1>

                    <section class="info-del-producto">
                        <div class="producto_precio">
                            <img src="/img/product/<%=prodDet.img%>" alt="imagen del producto" class="img-producto">
                            <p class="precio">$<%=prodDet.precio%>
                            </p>
                            <br>

                            <ul class="tarjetas" type='circle'>
                                <li type='disc'>Mastercard hasta 3 cuotas sin interés</li>
                                <li type='disc'>Visa Santander Río hasta 6 cuotas sin interés</li>
                                <li type='disc'>Naranja X 1 solo pago</li>
                                <li type='disc'>Otras tarjetas plan Z</li>

                            </ul>
                            <% if(prodDet.oferta=='true' ){%>
                                <%}%>
                                    <h2>
                                        <%=prodDet.verIndex%>
                                    </h2>

                        </div>

                        <div class="contenedor-producto">
                            <h2 class="modelo-producto">
                                <%=prodDet.nombre%>
                            </h2>
                            <div class="sucursal">
                                <p>Confirmar sucursal más cercana para retiro o envío:</p>
                            </div>
                            <br>
                            <br>
                            <br>
                            <form action="/Carrito/createCarrito/<%=prodDet.id%>" method="POST">
                                <div class="form-CP">
                                    <label for="codigo postal" name="codpostal">Código postal</label>
                                    <input type="text" id="codigo-postal" name="codpostal" value="G4200"></input>
                                    <button class="bt-buscar" type="submit">Buscar</button>
                                </div>
                                <p>Sucursal: Santiago Del Estero </p>
                                <br>
                                <br>
                                <div>
                                    <input type="number" name="cantidad" id="cantidad" value="1">
                                </div>
                                <button class="agregar" type="submit">Agregar al carrito de compras / Comprar
                                    ahora</button>
                            </form>
                        </div>
                    </section>

                    <section class="contenedor-detalle">
                        <div class="detalles">
                            <h3>Especificaciones técnicas</h3>
                            <p>
                                <%=prodDet.especificaciones%>
                            </p>
                        </div>
                        <div class="detalles">
                            <h3>Descripción</h3>
                            <p>
                                <%=prodDet.descripcion%>
                            </p>
                        </div>
                        <div class="detalles">
                            <h3>Productos relacionados</h3>
                            <p>Heladera 2</p>
                            <p>Heladera 3</p>
                            <p>Heladera 4</p>
                        </div>
                    </section>
                </main>

                <!--  nuevo pie-->
                <%- include('../partials/footer.ejs') %>

        </div>
    </body>

</html>