<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {Style: "CSS/Style.css" ,myStyle: "CSS/index.css" , title: "Inicio" }) %>

    <body>
        <!-- Contenedo Principal del Body  -->
        <div class="main-body-container">
            <%- include('./partials/header.ejs') %>

                <!-- MAIN -->
                <main>
                    <div class="banner-oferta">
                        <img src="/img/banners/coccion-cybermonday.jpg" alt="banner coccion cybermonday">
                    </div>

                    <h3 class="titulares">Mira nuestros nuevos productos!!</h3>

                    <section class="section-product">
                        <% listaProductos.forEach(productos=> { %>
                            <% if (productos.oferta=='false' ){%>
                                <a href="/ProductoDetalle/<%= productos.id%>">
                                    <article class="articles">
                                        <div>
                                            <img src="/img/product/<%= productos.img%>" alt="">
                                        </div>
                                        <div class="items_description">
                                            <i class="fa-solid fa-truck-fast bg-icon"></i>
                                            <div class="container-price">
                                                <p class="precio">$<%= productos.precio%>
                                                </p>
                                                <p class="descuento">
                                                    <%= productos.descuento%>% OFF
                                                </p>
                                            </div>
                                            <div class="pay">
                                                <img class="cuota" src="/img/banners/cuotas-sin-interes.png"
                                                    alt="logo-intereses">
                                                <img class="credit-card" src="/img/banners/visa-santander.png"
                                                    alt="Card Visa">
                                            </div>
                                            <div class="prod-descripcion">
                                                <b>Ver <%= productos.nombre%></b>
                                            </div>
                                        </div>
                                    </article>
                                </a>

                                <% } %>
                                    <% }) %>

                                        <!--<a href="/ProductoDetalle">
                            <article class="articles">
                                <div>
                                    <img src="/img/product/heladera.jpg" alt="Imagen Heladera">
                                </div>
                                <div class="items_description">
                                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                                    <div class="container-price">
                                        <p class="precio">$390.770 </p>
                                        <p class="descuento">40% OFF</p>
                                    </div>
                                    <div class="pay">
                                        <img class="cuota" src="/img/banners/cuotas-sin-interes.png"
                                            alt="logo-intereses">
                                        <img class="credit-card" src="/img/banners/visa-santander.png" alt="Card Visa">
                                    </div>
                                    <div class="prod-descripcion">
                                        <b>Ver Heladera Electrolux</b>
                                    </div>
                                </div>
                            </article>
                        </a>

                        <a href="/ProductoDetalle">
                            <article class="articles">
                                <div>
                                    <img src="/img/product/aire.jpg" alt="Imagen aire/acond">
                                </div>
                                <div class="items_description">
                                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                                    <div class="container-price">
                                        <p class="precio">$690.770 </p>
                                        <p class="descuento">40% OFF</p>
                                    </div>
                                    <div class="pay">
                                        <img class="cuota" src="/img/banners/cuotas-sin-interes.png"
                                            alt="logo-intereses">
                                        <img class="credit-card" src="/img/banners/visa-santander.png" alt="Card Visa">
                                    </div>
                                    <div class="prod-descripcion">
                                        <b>Ver Aire Split BGH</b>
                                    </div>
                                </div>
                            </article>
                        </a>

                        <a href="/ProductoDetalle">
                            <article class="articles">
                                <div>
                                    <img src="/img/product/licuadora.jpg" alt="Imagen Licuadora">
                                </div>
                                <div class="items_description">
                                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                                    <div class="container-price">
                                        <p class="precio">$69.770 </p>
                                        <p class="descuento">40% OFF</p>
                                    </div>
                                    <div class="pay">
                                        <img class="cuota" src="/img/banners/cuotas-sin-interes.png"
                                            alt="logo-intereses">
                                        <img class="credit-card" src="/img/banners/visa-santander.png" alt="Card Visa">
                                    </div>
                                    <div class="prod-descripcion">
                                        <b>Ver Licuadora Liliana</b>
                                    </div>
                                </div>
                            </article>
                        </a>


                        <a href="/ProductoDetalle">
                            <article class="articles">
                                <div>
                                    <img src="/img/product/plancha.jpg" alt="Imagen Plancha">
                                </div>
                                <div class="items_description">
                                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                                    <div class="container-price">
                                        <p class="precio">$36.750 </p>
                                        <p class="descuento">40% OFF</p>
                                    </div>
                                    <div class="pay">
                                        <img class="cuota" src="/img/banners/cuotas-sin-interes.png"
                                            alt="logo-intereses">
                                        <img class="credit-card" src="/img/banners/visa-santander.png" alt="Card Visa">
                                    </div>
                                    <div class="prod-descripcion">
                                        <b>Ver Plancha Phillips</b>
                                    </div>
                                </div>
                            </article>
                        </a>

                        <a href="/ProductoDetalle">
                            <article class="articles">
                                <div>
                                    <img src="/img/product/micro.jpg" alt="Imagen aire/acond">
                                </div>
                                <div class="items_description">
                                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                                    <div class="container-price">
                                        <p class="precio">$115.770 </p>
                                        <p class="descuento">40% OFF</p>
                                    </div>
                                    <div class="pay">
                                        <img class="cuota" src="/img/banners/cuotas-sin-interes.png"
                                            alt="logo-intereses">
                                        <img class="credit-card" src="/img/banners/visa-santander.png" alt="Card Visa">
                                    </div>
                                    <div class="prod-descripcion">
                                        <b>Ver Microondas BGH</b>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </section> -->

                                        <!-- SECCION DE OFERTAS -->
                                        <div class="banner-oferta">
                                            <img src="/img/banners/heladeras-cybermonday.jpg"
                                                alt="banner coccion cybermonday">
                                        </div>

                                        <h3 class="titulares">Un CyberMonday de Ofertas !!!</h3>

                                        <section class="section-product">

                                            <% listaProductos.forEach(productos=> { %>
                                                <% if (productos.oferta=='true' ){%>
                                                    <a href="/ProductoDetalle/<%= productos.id%>">
                                                        <article class="articles">
                                                            <div>
                                                                <img src="/img/product/<%= productos.img%>" alt="">
                                                            </div>
                                                            <div class="items_description">
                                                                <i class="fa-solid fa-truck-fast bg-icon"></i>
                                                                <div class="container-price">
                                                                    <p class="precio">$<%= productos.precio%>
                                                                    </p>
                                                                    <p class="descuento">
                                                                        <%= productos.descuento%>% OFF
                                                                    </p>
                                                                </div>
                                                                <div class="pay">
                                                                    <img class="cuota"
                                                                        src="/img/banners/cuotas-sin-interes.png"
                                                                        alt="logo-intereses">
                                                                    <img class="credit-card"
                                                                        src="/img/banners/visa-santander.png"
                                                                        alt="Card Visa">
                                                                </div>
                                                                <div class="prod-descripcion">
                                                                    <b>Ver <%= productos.nombre%></b>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </a>
                                                    <% } %>
                                                        <% }) %>

                                                            <!--
                                    <a href="/ProductoDetalle">
                                        <article class="articles">
                                            <div>
                                                <img src="/img/product/estufa.jpg" alt="Imagen Estufa">
                                            </div>
                                            <div class="items_description">
                                                <i class="fa-solid fa-truck-fast bg-icon"></i>
                                                <div class="container-price">
                                                    <p class="precio">$25.530 </p>
                                                    <p class="descuento">40% OFF</p>
                                                </div>
                                                <div class="pay">
                                                    <img class="cuota" src="/img/banners/cuotas-sin-interes.png"
                                                        alt="logo-intereses">
                                                    <img class="credit-card" src="/img/banners/visa-santander.png"
                                                        alt="Card Visa">
                                                </div>
                                                <div class="prod-descripcion">
                                                    <b>Ver Estufa Gamma</b>
                                                </div>
                                            </div>
                                        </article>
                                    </a>

                                    <a href="/ProductoDetalle">
                                        <article class="articles">
                                            <div>
                                                <img src="/img/product/cafetera.jpg" alt="Imagen aire/acond">
                                            </div>
                                            <div class="items_description">
                                                <i class="fa-solid fa-truck-fast bg-icon"></i>
                                                <div class="container-price">
                                                    <p class="precio">$116.290 </p>
                                                    <p class="descuento">40% OFF</p>
                                                </div>
                                                <div class="pay">
                                                    <img class="cuota" src="/img/banners/cuotas-sin-interes.png"
                                                        alt="logo-intereses">
                                                    <img class="credit-card" src="/img/banners/visa-santander.png"
                                                        alt="Card Visa">
                                                </div>
                                                <div class="prod-descripcion">
                                                    <b>Ver Cafetera Express</b>
                                                </div>
                                            </div>
                                        </article>
                                    </a>

                                    <a href="/ProductoDetalle">
                                        <article class="articles">
                                            <div>
                                                <img src="/img/product/lavarropa.jpg" alt="Imagen aire/acond">
                                            </div>
                                            <div class="items_description">
                                                <i class="fa-solid fa-truck-fast bg-icon"></i>
                                                <div class="container-price">
                                                    <p class="precio">$389.999 </p>
                                                    <p class="descuento">40% OFF</p>
                                                </div>
                                                <div class="pay">
                                                    <img class="cuota" src="/img/banners/cuotas-sin-interes.png"
                                                        alt="logo-intereses">
                                                    <img class="credit-card" src="/img/banners/visa-santander.png"
                                                        alt="Card Visa">
                                                </div>
                                                <div class="prod-descripcion">
                                                    <b>Ver Lavarropa Drean</b>
                                                </div>
                                            </div>
                                        </article>
                                    </a>

                                    <a href="/ProductoDetalle">
                                        <article class="articles">
                                            <div>
                                                <img src="/img/product/aspiradora.jpg" alt="Imagen Aspiradora">
                                            </div>
                                            <div class="items_description">
                                                <i class="fa-solid fa-truck-fast bg-icon"></i>
                                                <div class="container-price">
                                                    <p class="precio">$85.490 </p>
                                                    <p class="descuento">40% OFF</p>
                                                </div>
                                                <div class="pay">
                                                    <img class="cuota" src="/img/banners/cuotas-sin-interes.png"
                                                        alt="logo-intereses">
                                                    <img class="credit-card" src="/img/banners/visa-santander.png"
                                                        alt="Card Visa">
                                                </div>
                                                <div class="prod-descripcion">
                                                    <b>Ver Plancha Gamma</b>
                                                </div>
                                            </div>
                                        </article>
                                    </a>

                                    <a href="/ProductoDetalle">
                                        <article class="articles">
                                            <div>
                                                <img src="/img/product/batidora.jpg" alt="Imagen Batidora">
                                            </div>
                                            <div class="items_description">
                                                <i class="fa-solid fa-truck-fast bg-icon"></i>
                                                <div class="container-price">
                                                    <p class="precio">$77.399 </p>
                                                    <p class="descuento">40% OFF</p>
                                                </div>
                                                <div class="pay">
                                                    <img class="cuota" src="/img/banners/cuotas-sin-interes.png"
                                                        alt="logo-intereses">
                                                    <img class="credit-card" src="/img/banners/visa-santander.png"
                                                        alt="Card Visa">
                                                </div>
                                                <div class="prod-descripcion">
                                                    <b>Ver Heladera BGH</b>
                                                </div>
                                            </div>
                                        </article>
                                    </a>
                                    -->
                                        </section>

                </main>

                <%- include('./partials/footer.ejs') %>
        </div>


    </body>

</html>