<header class="header-main">
    <div>
        <!-- Barra de Servicios -->
        <div class="main-bar-services">
            <ul class="nav-bar-service">
                <li><a href="#"><i class="fa-solid fa-truck-fast"></i>Segui tu compra</a></li>
                <li><a href="#"><i class="fa-solid fa-gear"></i>Servicio Tecnico</a></li>
                <li><a href="#"><i class="fa-solid fa-store"></i>Sucursales</a></li>
                <li><a href="#"><i class="fa-solid fa-phone-volume"></i>Ventas telefonicas</a></li>
                <li><a href="#"><i class="fa-regular fa-comments"></i>Centro de Ayuda</a></li>
            </ul>
        </div>
        <!-- Barra Logo - Search - Menu Login/Carrito -->
        <div class="header-main__bar-logo">
            <div class="logoEH">
                <a href="/"><img src="/img/ico/logoEHV.png" alt="Logo"></a>
            </div>
            <form action="/products/buscarProducto/" method="get">
                <div class="search-bar">
                    <div>
                        <input type="search" placeholder="Buscar Productos, marcas..." name="buscar">
                    </div>
                    <div>
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>

                </div>
            </form>
            <div class="nav-bar-user">
                <ul class="menu-user">
                    <% if (locals.isLogged) { %>
                        <li class="menu-user-ul">
                            <a href="#">
                                <img src="/img/users/<%= locals.userLogged.img %>">
                                <p>
                                    <%= locals.userLogged.usuario.toUpperCase() %>
                                </p>
                            </a>
                            <div class="dropdown">
                                <a href="/user/Perfil/<%= locals.userLogged.id %>">
                                    <p>Mi Perfil</p><i class="fa-solid fa-user-pen" style="font-size: 15px;"></i>
                                </a>
                                <hr>
                                <a href="/user/Compras/<%= locals.userLogged.id %>">
                                    <p>Mis Compras</p><i class="fa-solid fa-basket-shopping"
                                        style="font-size: 15px;"></i>
                                </a>
                                <hr>
                                <% if (locals.userLogged.perfil_id===1) { %>
                                    <!-- <a href="/user/Compras/<%= locals.userLogged.id %>"> -->
                                    <a href="http://localhost:5173/" target="_blank">
                                        <p>Dashboard</p><i class="fas fa-fw fa-tachometer-alt"
                                            style="font-size: 15px;"></i>
                                    </a>
                                    <hr>
                                    <% } %>
                                        <a href="/user/logout">
                                            <p>Logout</p><i class="fa-solid fa-arrow-right-from-bracket"
                                                style="font-size: 15px;"></i>
                                        </a>
                            </div>
                        </li>

                        <li>
                            <a href="/Carrito">
                                <p>Carrito</p><i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
                        <% } else { %>
                            <li><a href="/user/Registro">
                                    <p>Registrate</p><i class="fa-regular fa-address-card"></i>
                                </a></li>
                            <li><a href="/user/Login">
                                    <p>Ingresar</p><i class="fa-regular fa-circle-user"></i>
                                </a></li>
                            <% } %>
                </ul>
            </div>
        </div>
        <!-- Barra de Menu -->
        <nav class="nav-main">
            <div class="container-ul">
                <div class="home-burger"> <a href="/"><i class="fa-solid fa-house "></i></a>
                </div>
                <ul class="menu">
                    <li><a href="/">Inicio</a></i></li>
                    <li><a href="#">Electrodomesticos</a></li>
                    <li><a href="#">Refrigeracion</a></li>
                    <li><a href="#">Calefaccion</a></li>
                    <li><a href="#">Hogar</a></li>
                    <li><a href="/products/menu/1">Nuevo</a></li>
                    <li><a href="/products/menu/2">Oferta</a></li>
                    <li><a href="/products/menu/3">Outlet</a></li>
                    <li><a href="/products">Productos</a></li>
                    <% if (locals.isLogged && locals.userLogged.perfil_id===1) { %>

                        <li><a href="/products/agregarProducto">Agregar Productos</a></li>
                        <% } %>
                </ul>
            </div>
        </nav>
    </div>
</header>